<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'type2_3.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale">
    <title>字母游戏</title>
    <link rel="stylesheet" type="text/css" href="{% static 'letter_game_style.css' %}">
</head>
<body>
    <div class="container">
        <br/><br/>
        <div class="main">
            <br/>
            <form method="post">
            {# csrf_token验证 #}
                {% csrf_token %}
                <input class="textbox" id="textbox1" type="text" name="username" placeholder="Please enter username">
                <br/>
                <input class="textbox" id="textbox2" type="password" name="password" placeholder="Please enter password">
                <button id="button5" type="submit" >LOGIN</button>
            </form>
        </div>
        {% if messages %}
            <button id="button7" type="submit" onclick="location='/letter_game'">BACK</button>
            <script>
                {% for msg in messages %}
                    alert('{{ msg.message }}')
                {% endfor %}
            </script>
        {% endif %}
    </div>
</body>
</html>

</body>
</html>